style "button"
{
    xthickness = 3
    ythickness = 3
    bg[NORMAL]	= shade (1.10, @bg_color)
    bg[PRELIGHT]	= shade (1.14, @bg_color)
    bg[ACTIVE]	= shade (0.92, @bg_color)
    bg[SELECTED]	= shade (0.92, @bg_color)
    bg[INSENSITIVE]	= shade (0.95, @bg_color)

    engine "murrine" {
        contrast          = .8
        lightborder_shade = 1.9
        roundness         = 2
        border_shades     = {0.8, 0.8}
        shadow_shades     = {1.0, 0.5}
        reliefstyle       = 4
    }
}

style "treeview-header"
{
    xthickness = 2
    ythickness = 0

    bg[NORMAL] = @base_color

    engine "murrine" {
        listviewheaderstyle = 1
        reliefstyle         = 0
    }
}

widget_class "*<GtkButton>"                style "button"
widget_class "*<GtkTreeView>*<GtkButton>*" style:highest "treeview-header"
