$_hover_color: transparentize(white,0.4);
$_hover_effect_top: inset 0 3px $_hover_color;
$_hover_effect_bottom: inset 0 -3px $_hover_color;
$_hover_effect_left: inset 3px 0 $_hover_color;
$_hover_effect_right: inset -3px 0 $_hover_color;

$_panel_shade: transparentize(black,0.6);
$_panel_top: inset 0 3px $_panel_shade;
$_panel_bottom: inset 0 -3px $_panel_shade;
$_panel_left: inset 3px 0 $_panel_shade;
$_panel_right: inset -3px 0 $_panel_shade;

// gradient needed for box-shadow to work in panel
%panel_bg {
  background-gradient-direction: vertical;
  background-gradient-start: transparent;
  background-gradient-end: transparent;
}

// Dash to Panel extension styling

#panel.dashtopanelMainPanel {
  @extend %panel_bg;

  &.dashtopanelBottom {
    box-shadow: $_panel_bottom;

    .app-well-app:hover .overview-icon {
      box-shadow: $_hover_effect_bottom;
      @extend %panel_bg;
    }
    // .app-well-app.focused .overview-icon {} // Let the extension settings handle this one
  }

  &.dashtopanelTop {
    box-shadow: $_panel_top;

    .app-well-app:hover .overview-icon {
      box-shadow: $_hover_effect_top;
      @extend %panel_bg;
    }
  }

  .panel-button {
    &:hover { background-color: transparentize(white,0.9); }
    &:active, &:overview, &:focus, &:checked { background-color: $selected_bg_color; }
    text-shadow: black 0 1px 1px;
  }

  .dash-item-container > * { padding: 0 4px; }

  // panel dash icon
  @each $d in hover, checked, overview, focus, active, selected {
    .show-apps .overview-icon {
      background-image: url("d2p-activities.svg");
      background-position: center top;
      background-color: transparent;
      border: none;
      color: transparent;
    }

    .show-apps:#{$d} .overview-icon {
      background-image: url("d2p-activities-active.svg");
      background-position: center top;
    }
  }

  // clock and system menu area
  & > #panelRight {
    background-color: transparentize(black, 0.3);
    border-radius: 2px;
    margin: 6px;
    //box-shadow: 0 2px 2px $_panel_shade;
  }
  
  .showdesktop-button { padding-right: 8px; }
}

// Dash to dock extension styling

#dashtodockContainer {
  background-color: transparentize(black, 0.7);
  box-shadow: inset -1px 0 transparentize(black, 0.9);
  border-radius: 0;
  
  @each $_pos in (left), (right), (bottom), (top) {
    &.#{$_pos}.extended {
      border-color: transparentize(white, 0.9);
      border-style: solid;
      @if $_pos==left { border-right-width: 1px; }
      @else if $_pos==right { border-left-width: 1px; }
      @else if $_pos==bottom { border-top-width: 1px; }
      @else if $_pos==top { border-bottom-width: 1px; }
    }
  }

  &.shrink #dash,
  &.dashtodock #dash {
    border: 0px;
    padding: 0px;
  }

  &.extended {
    border: 0;
    border-radius: 0;
  }

  &.bottom #dash .app-well-app-running-dot {
    width: 44px;
    height: 2px;
    background-color: $_hover_color;
    margin-bottom: 0;
  }

  &.running-dots .dash-item-container > StButton,
  &.dashtodock .dash-item-container > StButton {
    background-size: contain;
  }

  &.shrink .dash-item-container > StButton,
  &.dashtodock .dash-item-container > StButton {
    padding: 2px 4px !important; // 1px 2px;
  }
}

#dashtodockContainer {
  @each $_pos in (left), (right), (bottom), (top) {
    &.#{$_pos} #dash
    .app-well-app {
      padding: 0;
      border: none;

      &:hover {
        background-color: transparentize($selected_bg_color, 0.5);
        // Box shadows will not work if the bg color is fully transparent
        @if $_pos==left { box-shadow: $_hover_effect_left; }
        @else if $_pos==right { box-shadow: $_hover_effect_right;  }
        @else if $_pos==bottom { box-shadow: $_hover_effect_bottom;  }
        @else if $_pos==top { box-shadow: $_hover_effect_top;  }
      }
      &:hover .overview-icon { 
        background: none;
      }

      &:active .overview-icon,
      &:checked .overview-icon,
      &:focus .overview-icon,
      &:selected .overview-icon {
        background-color: $selected_bg_color;
        box-shadow: none;
        border: 1px solid transparent;
      }
    }
  }
}
