$_hover_color: transparentize(white,0.4);
$_hover_effect_top: inset 0 3px $_hover_color;
$_hover_effect_bottom: inset 0 -3px $_hover_color;
$_hover_effect_left: inset 3px 0 $_hover_color;
$_hover_effect_right: inset -3px 0 $_hover_color;

$_panel_shade: transparentize(black,0.6);
$_panel_top: inset 0 3px $_panel_shade;
$_panel_bottom: inset 0 -3px $_panel_shade;
$_panel_left: inset 3px 0 $_panel_shade;
$_panel_right: inset -3px 0 $_panel_shade;

// Workaround gradient needed for box-shadow to work in panels
%panel_bg {
  background-gradient-direction: vertical;
  background-gradient-start: transparent;
  background-gradient-end: transparent;
}

// Dash to Panel extension styling

#panel.dashtopanelMainPanel {
  @extend %panel_bg;

  &.dashtopanelBottom {
    box-shadow: $_panel_bottom;

    .app-well-app:hover .overview-icon {
      box-shadow: $_hover_effect_bottom;
      @extend %panel_bg;
    }
    // .app-well-app.focused .overview-icon {} // Let the extension settings handle this one
  }

  &.dashtopanelTop {
    box-shadow: $_panel_top;

    .app-well-app:hover .overview-icon {
      box-shadow: $_hover_effect_top;
      @extend %panel_bg;
    }
  }

  .panel-button {
    &:hover { background-color: transparentize(white,0.9); }
    &:active, &:overview, &:focus, &:checked { background-color: $selected_bg_color; }
    text-shadow: black 0 1px 1px;
  }

  .dash-item-container > * { padding: 0 4px; }

  // panel dash icon
  @each $d in hover, checked, overview, focus, active, selected {
    .show-apps .overview-icon {
      background-image: url("d2p-activities.svg");
      background-position: center top;
      background-color: transparent;
      border: none;
      color: transparent;
    }

    .show-apps:#{$d} .overview-icon {
      background-image: url("d2p-activities-active.svg");
      background-position: center top;
    }
  }

  // clock and system menu area
  & > #panelRight {
    background-color: transparentize(black, 0.3);
    border-radius: 2px;
    margin: 6px;
    //box-shadow: 0 2px 2px $_panel_shade;
  }
  
  .showdesktop-button { padding-right: 8px; }
}

// Dash to dock extension styling

@each $p in (left), (right), (bottom), (top) {
  #dashtodockContainer {
    background-color: transparentize(black, 0.5);
    border-radius: 0;

    &.#{$p}.extended {
      border-color: transparentize(white, 0.9);
      border-style: solid;
      @if $p==left {
        border-right-width: 1px;
        box-shadow: $_panel_left;
      }
      @else if $p==right {
        border-left-width: 1px;
        box-shadow: $_panel_right;
      }
      @else if $p==bottom {
        border-top-width: 1px;
        box-shadow: $_panel_bottom;
      }
      @else if $p==top {
        border-bottom-width: 1px;
        box-shadow: $_panel_top;
      }
    }

    &.shrink #dash,
    &.dashtodock #dash {
      border: none !important;
      padding: 0px;
    
      // don't let the first icon be too close to the shadow + panel
      &.left #dash { padding-top: 2px; }
      &.right #dash { padding-top: 2px; }
    }

    &.extended {
      border: 0;
      border-radius: 0;
    }

    &.bottom #dash .app-well-app-running-dot {
      width: 44px;
      height: 2px;
      margin-bottom: 0;
    }

    #dash .app-well-app-running-dot {
      background-color: white;
    }

    &.running-dots .dash-item-container > StButton,
    &.dashtodock .dash-item-container > StButton {
      background-size: contain;
    }

    &.shrink .dash-item-container > StButton,
    &.dashtodock .dash-item-container > StButton {
      padding: 2px 4px !important; // 1px 2px;
    }

    &.#{$p} #dash
    .app-well-app {
      padding: 0;
      border: none;

      &:hover {
        @extend %panel_bg;
        @if $p==left { box-shadow: $_hover_effect_left; }
        @else if $p==right { box-shadow: $_hover_effect_right; }
        @else if $p==bottom { box-shadow: $_hover_effect_bottom; }
        @else if $p==top { box-shadow: $_hover_effect_top; }
      }
      &:hover .overview-icon {
        background: none;
      }

      &:active .overview-icon,
      &:checked .overview-icon,
      &:focus .overview-icon,
      &:selected .overview-icon {
        background: none;
        box-shadow: none;
      }
    }
  }
}

.bottom #dashtodockDashScrollview,
.top #dashtodockDashScrollview {
  // Scrollview style -vertical
  -st-hfade-offset: 24px;
}

.left #dashtodockDashScrollview,
.right #dashtodockDashScrollview {
  // Scrollview style -horizontal
  -st-vfade-offset: 24px;
}
